/* Estilos gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  /* Espaçamento entre as linhas */
  line-height: 20px;
}

.btn {
  border: 3px solid #fec63e;
  padding: 12px 30px;
  color: #fec63e;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.btn.btn-preto:hover {
  color: #000000;
  border-color: #000000;
}

.subtitulo {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  /* Espaçando o subtítulo dos 3 grids de produtos */
  margin-bottom: 40px;
}

.subtitulo:after {
  content: "";
  /* Ao criá-lo, ocupa uma nova linha, não ficando ao lado do elemento parágrafo */
  display: block;
  width: 60px;
  height: 3px;
  background: #000000;
  margin: 8px auto;
}

/* Header */

.header {
  /* Manter o menu sempre visível ao scrollar */
  position: fixed;
  /* Manter menu sempre no topo */
  top: 0;
  /* Ocupa toda a largura da tela */
  width: 100%;
  /* Cor de fundo do header */
  background: #fec63e;
  /* Espaçamento do que está dentro do header em relação a borda do mesmo */
  padding: 15px 0;
  /* Faz com que o menu fique em cima de todas as sections do site, com isso,
  as sections não passam por cima desse header */
  z-index: 10;
}

.header-menu {
  /* Alinha os itens do menu à direita */
  text-align: right;
}

.header-menu ul li {
  /* Faz com que os itens fiquem um ao lado do outro */
  display: inline-block;
  /* Deixa um espaço entre os itens */
  margin-left: 25px;
  /* Distancia os itens do topo, centralizando-os no header */
  margin-top: 20px;
}

.header-menu ul li a {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  /* Espaçamento entre as letras */
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  /* Aumenta espaço de contato das opções de menu*/
  padding: 10px;
}

.header-menu ul li a:hover {
  color: #ffffff;
}

/* Introdução */

.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  /* Fazendo com que a imagem cubra todo o seu tamanho */
  background-size: cover;
  /* Descendo o conteúdo abaixo do header (porque ele é fixed) */
  margin-top: 96px;
  /* Alinha todo o conteúdo de introdução ao centro */
  text-align: center;
  /* Espaçamento que o conteúdo deve ter do topo */
  padding-top: 80px;
}

.introducao h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
}

.quote-externo {
  /* Define um tamanho máximo, se excede, a linha é quebrada */
  max-width: 320px;
  /* Centraliza o quote */
  margin: 0 auto;
  color: #ffffff;
  /* Distancia a botão */
  margin-bottom: 50px;
}

.quote-externo p {
  font-style: italic;
}

/* Criando uma pseudo classe antes e depois do parágrafo, para criar a linha de separação */
.quote-externo p:before,
.quote-externo p:after {
  content: "";
  /* Ao criá-lo, ocupa uma nova linha, não ficando ao lado do elemento parágrafo */
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos-lista li {
  background: #fec63e;
  text-align: center;
}

.produtos-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.produtos-lista li h3:after {
  content: "";
  /* Ao criá-lo, ocupa uma nova linha, não ficando ao lado do elemento parágrafo */
  display: block;
  width: 60px;
  height: 3px;
  background: #000000;
  margin: 2px auto;
}

.produtos-lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos-icone {
  /* Fazendo com que a div que contém a imagem tenha fundo preto, diferente da section */
  background: #000000;
  padding: 20px;
}

.call {
  padding-top: 40px;
  text-align: center;
  /* Limpa os elementos deixando-os separados em linha, fazendo o padding-top funcionar */
  clear: both;
}

.call p {
  margin-bottom: 20px;
}

/* Portfólio */

.portfolio {
  width: 100%;
  background: #000000;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: #fec63e;
}

.portfolio .subtitulo:after {
  background: #fec63e;
}

/* Last-child: pega o último elemento da lista */
.portfolio-lista li:last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: #ffffff;
}
